.phonewrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient( 180deg, transparent 23%, #00000059 85%, transparent 100%); */
    position: absolute;
    /* height: 100%; */
    z-index: 5;
    background: linear-gradient( 0deg, black, #ffffff52, #000000c9), url("../../assets/img/cropped.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    top: 0;
    padding-top: 5rem;
}

@media (max-width: 970px) {
    .phonewrapper {
        background: linear-gradient( 1deg, #00000070, transparent);
    }
    .marvel-device.ipad.landscape {
        left: 0;
    }
}

@media (max-width: 800px) {
    .phonewrapper {
        position: relative;
    }
}

.shadow {
    box-shadow: 1px 1px 2px black;
}

.screen {
    overflow-y: auto!important;
    padding: 30px 0 0;
}

.marvel-device.ipad.silver {
    background: #ffffff!important;
    box-shadow: 1px 2px 8px #000!important;
}

@media (max-width: 802px) {
    .marvel-device.ipad.silver {
        width: 328px;
        height: 440px;
    }
    .screen a {
        margin-left: 0!important;
    }
}

.screen a {
    background: rgb(0 0 0 / 34%);
    border-radius: 10px;
    line-height: 4rem;
    padding: 0 1rem;
    text-decoration: none;
    color: white;
    z-index: 1000;
    position: absolute;
    top: 6%;
    left: 0;
    margin-left: -47px;
    transition: all 0.3s ease;
}

.screen a:hover {
    margin-left: 0;
}

.marvel-device.ipad.landscape {
    height: 466.38px!important;
    width: 622.08px!important;
    right: -14%;
    top: -7%;
}

.home-button {
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    color: black;
    width: 50px;
    height: 50px;
    border: 1px solid #25252585;
    border-radius: 50%;
    box-shadow: inset 1px 1px 0px 1px #000;
}

@media(max-width:800px) {
    .home-button {
        top: unset;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.far {
    font-size: 2.5rem;
}