<div class="hero_container">
    <div class="heading">
        <h1>Hi, I'm Loveleen Karir</h1>
        <h2 id="subtext">
            and I'm a
            <span typewrite></span>
            <span typewrite="" type-delay="100" text="stuff" initial-delay="1.5s" callback-fn="activateTitle()" class="ng-isolate-scope"><span class="blink">|</span>Test</span>
        </h2>

        <div>
            <h2>
                Slide To Unlock
                <!-- <a routerLink="/about"><span>Click Me </span></a
    ><span>and read more about me</span> -->
            </h2>
        </div>
    </div>
</div>