.navbar {
    /* background-color: rgb(255, 255, 255); */
    /* padding: 2rem; */
    background: none;
    font-family: "Montserrat";
    z-index: 3;
    position: relative;
}

.container_navbar {
    display: flex;
    justify-content: center;
    background: #c3c1b72e;
    border-bottom: 1px solid #ffffff82;
    box-shadow: 4px 4px 12px 5px #8a8883d1;
    width: 100%;
}

@media (max-width: 802px) {
    .container_navbar {
        position: sticky;
        overflow: hidden;
    }
    .content_wrapper {
        justify-content: center;
    }
    #logo {
        display: none;
    }
}

.content_wrapper {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
}

.content_wrapper__item {
    padding: 1.7rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: all 0.3s ease;
}

a:hover {
    color: rgb(133, 128, 128);
    font-size: x-large;
}

.logo {
    font-size: x-large;
    text-shadow: black 2px 2px 3px;
    /**animation: mymove 5s infinite;*/
    font-weight: bolder;
}

#logo:hover {
    /* font-size: xx-large; */
    transform: rotateX(360deg);
    transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
    background: transparent;
}

#logo:hover a {
    /** alcolor: gold;**/
    transition: color 0.7s ease-out;
}


/* img {
    width: 50px;
}

img:hover {
    width: 70px;
    transform: rotate(-10deg);
} */

@keyframes mymove {
    50% {
        top: 50px;
        left: 100px;
        color: rgb(172, 16, 16);
    }
}