<nav class="navbar">
    <!-- <img src="{{img}}"> -->
    <div class="container_navbar">
        <ul class="content_wrapper">

            <li class="content_wrapper__item" id="logo"><a class="logo" routerLink="/">{{logo}}</a></li>
            <li class="content_wrapper__item"><a routerLink="/">{{home}}</a></li>
            <li class="content_wrapper__item"><a routerLink="/about">{{about}}</a></li>
            <li class="content_wrapper__item"><a routerLink="/projects">{{project}}</a></li>

            <li class="content_wrapper__item"><a routerLink="/skills">{{skills}}</a></li>
            <li class="content_wrapper__item"><a routerLink="/contact">{{contact}}</a></li>
        </ul>
    </div>
</nav>