<div class="container">
    <img src="../../assets/img/IMG-7255.jpg">
    <div class="content">
        <span class="heading">{{heading}}</span>
        <p>I'm a certified Front End Developer. I love to develop and design a website. I got a lot of inspiration and motivation from my boyfriend. He always shows me the greatest tricks and Know-How about Web Development and generally programming. Additionally
            I look for some inspiration and ideas by inspecting several unique websites. Since I got to know about Web Developement World through my studies at the Applied Science University of technic in Vienna, I decided to improve myself by creating
            Websites and let my creativity and analytic play around programming.
        </p>

        <p>Nowadays I spent a lot of time with researching, designing and coding. Coding to improve my Java- and Typescript Skills.</p>

        <p>Beside of Web designing, I love to read books, explore new Restaurants and travel around the world. I also like to play video games in my leisure time.</p>
    </div>
</div>