.container {
    /* padding: 1rem; */
    height: 100%;
    /* display: flex; */
    /*  display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    flex-direction: column;
    padding: 0!important;
    margin: 0!important;
}

.image-field {
    /* background: url(../../assets/img/IMG-7255.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    display: flex;
    justify-content: center;
}

.image-field img {
    width: 30%!important;
}

@media (max-width: 802px) {
    /* .image-field {
        margin-left: -10rem;
    } */
    .container {
        display: flex;
        flex-direction: column;
    }
}

.container img {
    width: 100%;
}

.heading {
    font-size: 3rem;
    font-weight: 100;
    border-bottom: 1px solid black!important;
}

p {
    padding-top: 2rem;
}

.content {
    padding: 2rem;
    /* width: 50%; */
    text-align: center;
}

.fas {
    font-size: x-large;
}

.fab {
    font-size: x-large;
}

a {
    text-decoration: none;
    color: black;
}