.heading {
    text-align: center;
}

.form_container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background: radial-gradient(rgba(105, 101, 101, 0.24), rgba(255, 255, 255, 0.404));
    height: 100%;
}

.input_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    padding: 1rem;
    width: 50%;
}

.message {
    height: 100px;
}

.btn {
    display: flex;
    align-self: center;
    background: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size: cover;
    text-align: center;
    padding: 1rem;
    border: 1px solid transparent;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

.btn:hover {
    font-size: larger;
}

.icons {
    display: flex;
    justify-content: space-between;
    background: radial-gradient(rgba(255, 255, 255, 0.404), rgba(0, 0, 0, 0.438));
}

.fab {
    font-size: 3rem;
}

.highlight_git:hover {
    background: rgb(185, 11, 185);
    transition: 1s ease-in;
    color: white;
}

.highlight_li:hover {
    background: rgb(52, 115, 216);
    transition: 1s ease-in;
    color: white;
}

.highlight_fb:hover {
    background: rgb(9, 86, 230);
    transition: 1s ease-in;
    color: white;
}

.highlight_so:hover {
    background: rgb(240, 160, 33);
    transition: 1s ease-in;
    color: white;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.aTag {
    color: white;
    text-decoration: none;
}