.contactpage {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 2rem;
    width: 100%;
}

.heading {
    padding: 1.5rem 0;
    text-align: center;
}

.info {
    height: 100%;
}

.form_container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    /* background: radial-gradient(rgba(105, 101, 101, 0.24), rgba(255, 255, 255, 0.404)); */
    height: 100%;
}

.input_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    padding: 0.5rem 2rem;
    width: 100%;
    max-width: 560px;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

.message {
    padding: 1rem;
}

.inputtext {
    padding: 0.7rem;
    width: 70%;
}

.btn {
    display: flex;
    align-self: center;
    text-align: center;
    padding: 1rem;
    border: 1px solid rgba(54, 52, 52, 0.418);
    border-radius: 10px;
    margin: 1.5rem 0;
    background-color: rgba(255, 255, 255, 0.486);
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.507);
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: rgba(255, 255, 255, 0.411);
    /* width: 100%; */
    bottom: 0;
    /* left: 0; */
    /* text-align: right; */
}

.fab {
    font-size: 2rem;
}

.highlight_git:hover {
    color: rgb(185, 11, 185);
    transition: 0.3s ease-in;
    /* color: white; */
}

.highlight_li:hover {
    color: rgb(35, 77, 144);
    transition: 0.3s ease-in;
    /* color: white; */
}

.highlight_fb:hover {
    color: rgb(9, 86, 230);
    transition: 0.3s ease-in;
    /* color: white; */
}

.highlight_so:hover {
    color: rgb(240, 160, 33);
    transition: 0.3s ease-in;
    /* color: white; */
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    color: white;
}

.highlight:hover {
    color: black;
}