.bar {
    position: absolute;
    top: 0;
    background: rgba(255, 255, 255, 0.418);
    width: 100%;
    color: #333;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    z-index: 1;
}

.bar i {
    padding: 0 1rem;
}