<div class="skills_container">
    <h1 class="heading">My Skills</h1>

    <app-skillbar [color]="'orange'" [tagstring]="'fab fa-html5'" [level]="'90'"></app-skillbar>
    <app-skillbar [color]="'darkblue'" [tagstring]="'fab fa-css3'" [level]="'80'"></app-skillbar>
    <app-skillbar [color]="'magenta'" [tagstring]="'fab fa-sass'" [level]="'75'"></app-skillbar>
    <app-skillbar [color]="'purple'" [tagstring]="'fab fa-bootstrap'" [level]="'85'"></app-skillbar>
    <app-skillbar [color]="'yellow'" [tagstring]="'fab fa-js'" [level]="'70'"></app-skillbar>
    <app-skillbar [color]="'blue'" [image]="'assets/img/ts.svg'" [tagstring]="''" [level]="'70'"></app-skillbar>
    <app-skillbar [color]="'red'" [tagstring]="'fab fa-angular'" [level]="'74'"></app-skillbar>
    <app-skillbar [color]="'lightblue'" [tagstring]="'fab fa-php'" [level]="'20'"></app-skillbar>



</div>