<h1 class="heading">
    My Skills</h1>
<div class="skills_container ">
    <app-skillbar [primaryColor]="'#ffa500'" [secondaryColor]="'#ffdd9e'" [tagstring]="'fab fa-html5'" [level]="'100%'"></app-skillbar>
    <app-skillbar [primaryColor]="'#00008b'" [secondaryColor]="'#d6d6ff'" [tagstring]="'fab fa-css3'" [level]="'95%'"></app-skillbar>
    <app-skillbar [primaryColor]="'#ff00ff'" [secondaryColor]="'#ffe0ff'" [tagstring]="'fab fa-sass'" [level]="'90%'"></app-skillbar>
    <app-skillbar [primaryColor]="'#800080'" [secondaryColor]="'#ffdfff'" [tagstring]="'fab fa-bootstrap'" [level]="'100%'"></app-skillbar>
    <app-skillbar [primaryColor]="'#ffff00'" [secondaryColor]="'#ffffdf'" [tagstring]="'fab fa-js'" [level]="'70%'"></app-skillbar>
    <app-skillbar [primaryColor]="'#3077c6'" [secondaryColor]="'#d9ebff'" [image]="'assets/img/ts.svg'" [tagstring]="''" [level]="'70%'"></app-skillbar>
    <app-skillbar [primaryColor]="'#ff0000'" [secondaryColor]="'#ffe8e8'" [tagstring]="'fab fa-angular'" [level]="'74%'"></app-skillbar>
    <app-skillbar [primaryColor]="'#add8e6'" [secondaryColor]="'#f2fcff'" [tagstring]="'fab fa-php'" [level]="'20%'"></app-skillbar>



</div>