@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.skills_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    flex-flow: column wrap;
    padding-top: 5rem;
    /* background-size: 200% 200%; */
    /* animation: gradient 15s ease infinite; */
    /* height: 100vh; */
    position: absolute;
    width: 100%;
    top: 0;
}

.heading {
    text-align: center;
    border-bottom: 1px solid black!important;
}

.fab {
    font-size: 10rem;
}


/* 
.skillbar {
    position: relative;
    width: 500px;
    height: 20px;
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 2rem;
}

.skillbar_html {
    width: 480px;
    height: 14px;
    background: rgb(236, 147, 31);
    border-radius: 20px;
    margin-top: 1px;
}

.skillbar_css {
    width: 450px;
    height: 14px;
    background: rgb(70, 141, 223);
    border-radius: 20px;
    margin-top: 1px;
}

.skillbar_scss {
    width: 400px;
    height: 14px;
    background: rgb(233, 29, 182);
    border-radius: 20px;
    margin-top: 1px;
}

.skillbar_bs {
    width: 480px;
    height: 14px;
    background: rgb(105, 10, 194);
    border-radius: 20px;
    margin-top: 1px;
}

.skillbar_js {
    width: 385px;
    height: 14px;
    background: rgb(233, 214, 47);
    border-radius: 20px;
    margin-top: 1px;
}

.skillbar_ts {
    width: 356px;
    height: 14px;
    background: rgb(29, 104, 243);
    border-radius: 20px;
    margin-top: 1px;
}

.skillbar_ang {
    width: 330px;
    height: 14px;
    background: rgb(194, 10, 10);
    border-radius: 20px;
    margin-top: 1px;
}

.skillbar_php {
    width: 100px;
    height: 14px;
    background: rgb(119, 106, 236);
    border-radius: 20px;
    margin-top: 1px;
}

.html_ts {
    font-weight: bolder;
    background: black;
    width: 30px;
    color: white;
    padding: 0.4rem;
    border-radius: 5px;
} */