@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('../node_modules/angular-typewriter/dist/angular-typewrite.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

body {
    height: 100vh;
}


/* Reuseable */

.center {
    text-align: center;
}

.mr-auto {
    margin-right: auto
}

.container {
    padding: 1rem;
}