.apps_container {
    display: flex;
    justify-content: space-evenly;
}

.apps_wrapper {
    border: 1px solid rgba(144, 140, 140, 0.678);
    box-shadow: rgb(87, 84, 84) 2px 2px 5px;
    border-radius: 10px;
    width: 80px;
    height: 75px;
    font-family: "Montserrat";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

a {
    color: rgb(12, 12, 12);
    text-decoration: none;
}

#color_red {
    background: linear-gradient(rgba(255, 255, 255, 0.568), rgba(139, 0, 0, 0.657));
}

#color_blue {
    background: linear-gradient(rgba(255, 255, 255, 0.568), rgba(11, 110, 224, 0.575));
}

#color_orange {
    background: linear-gradient(rgba(255, 255, 255, 0.568), rgba(255, 166, 0, 0.609));
}

#color_green {
    background: linear-gradient(rgba(255, 255, 255, 0.568), rgba(43, 87, 18, 0.555));
}

#color_yellow {
    background: linear-gradient(rgba(255, 255, 255, 0.568), rgba(233, 219, 28, 0.575));
}