.apps_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
    justify-items: center;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
    background: radial-gradient(#19dac869, #1872e2a6);
    padding-top: 30px;
    position: absolute;
    width: 100%;
    top: 0;
}

.icon-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

a {
    color: rgb(251 251 251);
    text-decoration: none;
}

.icon {
    padding: 1.5rem;
    /* min-width: 60%; */
    min-width: 5rem;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 10px;
}

.red {
    background: #ff2c2c;
    color: #ffea4c;
}

.blue {
    background: #0057ff;
    color: #a3f6ff;
}

.green {
    background: #4eff8f;
    color: #423effeb;
}

.yellow {
    color: #ff00ea;
    background: yellow;
}