<div class="apps_container ">

    <!-- <h2>{{subheading}}</h2> -->

    <div class="icon-wrapper"><a routerLink="/about"><i class="fas fa-user-check icon red"></i></a><span>L.K</span></div>
    <div class="icon-wrapper"><a routerLink="/skills"><i class="fas fa-laptop-code icon blue"></i></a><span>Skills</span></div>
    <div class="icon-wrapper"><a routerLink="/projects"><i class="fas fa-project-diagram icon green"></i></a><span>Projects</span></div>
    <div class="icon-wrapper"><a routerLink="/contact"><i class="fas fa-user-tie icon yellow"></i></a><span>Hire Me</span></div>

</div>