<div class="apps_container">
    <div class="apps_wrapper" id="color_red"><span class=""><a routerLink="/about"><i class="fas fa-user-check outlined"></i></a></span></div>
    <div class="apps_wrapper" id="color_blue"><span class=""><a routerLink="/skills"><i class="fas fa-laptop-code outlined"></i></a></span></div>
    <div class="apps_wrapper" id="color_orange"><span class=""><a routerLink="/cv"><i class="fas fa-id-card-alt outlined"></i></a></span></div>
    <div class="apps_wrapper" id="color_green"><span class=""><a routerLink="/projects"><i class="fas fa-project-diagram outlined"></i></a></span></div>
    <div class="apps_wrapper" id="color_yellow"><span class=""><a routerLink="/contact"><i class="far fa-address-book outlined"></i></a></span></div>
</div>