.apps_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-gap: 0.9rem;
    justify-items: center;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
    background: radial-gradient(#19dac869, #1872e2a6);
    padding-top: 30px;
    position: absolute;
    width: 100%;
    top: 0;
}

.outlined {
    -webkit-text-stroke: 1px!important;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.582)!important;
}

.app_wrapper {
    box-shadow: rgb(66 64 64 / 38%) 2px 2px 0px;
    border-radius: 10px;
    width: 80px;
    height: 75px;
    font-family: "Montserrat";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

a {
    color: rgb(251 251 251);
    text-decoration: none;
}

#color_red {
    background: #ff2c2c;
    border: 0.1px solid #1f1f1f;
    -webkit-text-stroke-color: black;
}

#color_blue {
    background: #0057ff;
    border: 0.1px solid #1f1f1f;
    -webkit-text-stroke-color: black;
}

#color_orange {
    background: #e600ff;
    border: 0.1px solid #1f1f1f;
    -webkit-text-stroke-color: black;
}

#color_green {
    background: #4eff8f;
    border: 0.1px solid #1f1f1f;
    -webkit-text-stroke-color: black;
}

#color_yellow {
    background: yellow;
    border: 0.1px solid #1f1f1f;
    -webkit-text-stroke-color: black;
}